//Main Colors
$primary: #032D60;
$secondary: #0176D0;
$btnHover: #0185D0;
$primaryText: #828282;

//Menu hover
$menuDropdownHover: #EDF7FF;

//Footer line
$footerLine: #E0E0E0;

//Carousel arrows
$carouselArrow: #EEEEEE;

//Error colors
$redFocus: #CC0001;
$redLight: #F2BEBF;

//Contrast
$primaryWhite: #FFFFFF;
$secondaryWhite: #F5F5F5;
$primaryBlack: #2C2C2C;
$primaryGray: #7A7A7A;

//Success colors
$greenFocus: #4ECB5B;
$greenHover: #4BB256;